.checkout{
    display: flex;

}
.checkoutitem >h2,hr{
margin: 15px;
}
.checkoutitem {
    flex: 0.8;
    

}
.checkoutitem > h2{
    background-color: teal;
    color: #f0c14b;
     border: 1px solid black;
    padding: 10px;
}