.checkout{
    display: flex;

}
.checkoutitem >h3,hr{
margin: 15px;
}
.checkoutitem {
    flex: 0.8;
    

}
.checkoutitem > h3{
    background-color: rgb(0, 0, 0);
    color: #f0c14b;
    border-top: 3px solid  #f0c14b;
    border-bottom: 3px solid  #f0c14b;
     /* border: 1px solid black; */
    padding: 12px;
}